store-dir=.pnpm-store
registry=https://registry.npmjs.org/
virtual-store-dir=.pnpm

max-concurrent-requests=8
max-concurrent-saves=8

node-linker=hoisted

hoist = false
shamefully-hoist = false
hoist-pattern[]=*
strict-peer-dependencies=false
strict-peer-dependencies=false
auto-install-peers=true

link-workspace-packages = true
prefer-frozen-lockfile = false
shared-workspace-lockfile = true